# List of project's dependencies
Below are listed imports that are needed for program to work properly commented with required install (see also requirements.txt)

In [1]:
#List of imports
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

# Loading data
To properly load data you need to download dataset from [link](https://www.kaggle.com/datasets/krzysztofjamroz/apartment-prices-in-poland/data)
and paste it to `./data` directory.

In [2]:
#apartment rental data
price_data_array : list = [
    './data/apartments_pl_2023_08.csv',
    './data/apartments_pl_2023_09.csv', 
    './data/apartments_pl_2023_10.csv',
    './data/apartments_pl_2023_11.csv', 
    './data/apartments_pl_2023_12.csv',
    './data/apartments_pl_2024_01.csv', 
    './data/apartments_pl_2024_02.csv',
    './data/apartments_pl_2024_03.csv', 
    './data/apartments_pl_2024_04.csv' 
]

price_data_array_rent : list = [
    './data/apartments_rent_pl_2023_11.csv', 
    './data/apartments_rent_pl_2023_12.csv',
    './data/apartments_rent_pl_2024_01.csv', 
    './data/apartments_rent_pl_2024_02.csv',
    './data/apartments_rent_pl_2024_03.csv', 
    './data/apartments_rent_pl_2024_04.csv' 
]

data = pd.concat([pd.read_csv(data_set)for data_set in price_data_array])
data.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,pharmacyDistance,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price
0,f8524536d4b09a0c8ccc0197ec9d7bde,szczecin,blockOfFlats,63.00,3.0,4.0,10.0,1980.0,53.378933,14.625296,...,0.413,condominium,concreteSlab,NaN,yes,yes,yes,no,yes,415000
1,accbe77d4b360fea9735f138a50608dd,szczecin,blockOfFlats,36.00,2.0,8.0,10.0,NaN,53.442692,14.559690,...,0.205,cooperative,concreteSlab,NaN,no,yes,yes,no,yes,395995
2,8373aa373dbc3fe7ca3b7434166b8766,szczecin,tenement,73.02,3.0,2.0,3.0,NaN,53.452222,14.553333,...,0.280,condominium,brick,NaN,no,no,no,no,no,565000
3,0a68cd14c44ec5140143ece75d739535,szczecin,tenement,87.60,3.0,2.0,3.0,NaN,53.435100,14.532900,...,0.087,condominium,brick,NaN,yes,yes,no,no,yes,640000
4,f66320e153c2441edc0fe293b54c8aeb,szczecin,blockOfFlats,66.00,3.0,1.0,3.0,NaN,53.410278,14.503611,...,0.514,condominium,NaN,NaN,no,no,no,no,no,759000

# Data statistics visualization
Showing basic statistics of dataset.

In [3]:
data.describe()

,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,centreDistance,poiCount,schoolDistance,clinicDistance,postOfficeDistance,kindergartenDistance,restaurantDistance,collegeDistance,pharmacyDistance,price
count,153836.000000,153836.000000,126215.000000,151874.000000,128199.000000,153836.000000,153836.000000,153836.000000,153836.000000,153688.000000,153232.000000,153628.000000,153666.000000,153432.000000,149541.000000,153611.000000,1.538360e+05
mean,59.106762,2.692712,3.317126,5.270599,1985.703336,52.033875,19.463143,4.327628,20.705901,0.413220,0.969583,0.517386,0.370083,0.347417,1.442457,0.360438,7.731120e+05
std,21.576561,0.920367,2.515351,3.290654,34.070959,1.341967,1.786950,2.846466,24.425790,0.467913,0.890867,0.502589,0.450806,0.470033,1.104005,0.463813,4.027751e+05
min,25.000000,1.000000,1.000000,1.000000,1850.000000,49.978999,14.447100,0.010000,0.000000,0.002000,0.001000,0.001000,0.001000,0.001000,0.004000,0.001000,1.500000e+05
25%,44.390000,2.000000,2.000000,3.000000,1966.000000,51.110218,18.518880,1.980000,7.000000,0.175000,0.355000,0.239000,0.157000,0.114000,0.580000,0.143000,5.100000e+05
50%,55.000000,3.000000,3.000000,4.000000,1994.000000,52.195100,19.897000,3.940000,14.000000,0.291000,0.675000,0.393000,0.263000,0.230000,1.119000,0.240000,6.900000e+05
75%,69.000000,3.000000,4.000000,6.000000,2016.000000,52.417370,20.990211,6.130000,24.000000,0.468000,1.236000,0.623000,0.418000,0.410000,2.054000,0.407000,9.190000e+05
max,150.000000,6.000000,29.000000,29.000000,2024.000000,54.606460,23.207128,16.940000,212.000000,4.946000,4.999000,4.970000,4.961000,4.985000,5.000000,4.992000,3.250000e+06

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 153836 entries, 0 to 19258
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    153836 non-null  object
 1   city                  153836 non-null  object
 2   type                  120096 non-null  object
 3   squareMeters          153836 non-null  float64
 4   rooms                 153836 non-null  float64
 5   floor                 126215 non-null  float64
 6   floorCount            151874 non-null  float64
 7   buildYear             128199 non-null  float64
 8   latitude              153836 non-null  float64
 9   longitude             153836 non-null  float64
 10  centreDistance        153836 non-null  float64
 11  poiCount              153836 non-null  float64
 12  schoolDistance        153688 non-null  float64
 13  clinicDistance        153232 non-null  float64
 14  postOfficeDistance    153628 non-null  float64
 15  kindergartenDistance  153666 non-null  float64
 16  restaurantDistance    153432 non-null  float64
 17  collegeDistance       149541 non-null  float64
 18  pharmacyDistance      153611 non-null  float64
 19  ownership             153836 non-null  object
 20  buildingMaterial      93465 non-null   object
 21  condition             38291 non-null   object
 22  hasParkingSpace       153836 non-null  object
 23  hasBalcony            153836 non-null  object
 24  hasElevator           146084 non-null  object
 25  hasSecurity           153836 non-null  object
 26  hasStorageRoom        153836 non-null  object
 27  price                 153836 non-null  int64
dtypes: float64(16), int64(1), object(11)
memory usage: 34.0+ MB

# Preparing data
Functions to prepare data

In [5]:
def fill_na(df, column_list, method='median'):
    for column in column_list:
        fill_value: float
        match method:
            case 'median':
                fill_value = df[column].median()
            case 'mean':
                fill_value = df[column].mean()
            case 'first_value':
                fill_value = df[column][0]
            case _:
                fill_value = 0
                
        df[column] =  df[column].fillna(fill_value)


def normalize_numerical_columns(df, column_list):
    df[column_list] = (df[column_list] - df[column_list].min()) / (df[column_list].max() - df[column_list].min())

In [6]:
data=data.drop('id', axis=1)

numerical_columns = ['squareMeters', 'rooms', 'floor', 'floorCount', 'buildYear', 'latitude', 'longitude', 'centreDistance', 'poiCount', 'schoolDistance', 'clinicDistance', 'postOfficeDistance', 'kindergartenDistance', 'restaurantDistance', 'collegeDistance', 'pharmacyDistance']
categorical_columns = ['city', 'type', 'ownership', 'buildingMaterial', 'condition']
boolean_columns = ['hasParkingSpace', 'hasBalcony', 'hasElevator', 'hasSecurity', 'hasStorageRoom']
drop_columns = []
output_column = 'price'

data = pd.get_dummies(data, columns=categorical_columns)
data = pd.get_dummies(data, columns=boolean_columns, drop_first=True)

fill_na(data, numerical_columns, 'mean')
normalize_numerical_columns(data, numerical_columns)
data

,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,centreDistance,poiCount,schoolDistance,...,ownership_udziaÅ‚,buildingMaterial_brick,buildingMaterial_concreteSlab,condition_low,condition_premium,hasParkingSpace_yes,hasBalcony_yes,hasElevator_yes,hasSecurity_yes,hasStorageRoom_yes
0,0.30400,0.4,0.107143,0.321429,0.747126,0.734730,0.020342,0.385115,0.042453,0.023463,...,False,False,True,False,False,True,True,True,False,True
1,0.08800,0.2,0.250000,0.321429,0.779904,0.748508,0.012853,0.126403,0.075472,0.054814,...,False,False,True,False,False,False,True,True,False,True
2,0.38416,0.4,0.035714,0.071429,0.779904,0.750568,0.012127,0.190786,0.042453,0.055218,...,False,True,False,False,False,False,False,False,False,False
3,0.50080,0.4,0.035714,0.071429,0.779904,0.746868,0.009794,0.133491,0.150943,0.034992,...,False,True,False,False,False,True,True,False,False,True
4,0.32800,0.4,0.000000,0.071429,0.779904,0.741504,0.006451,0.239811,0.004717,0.043689,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19254,0.64800,0.8,0.035714,0.035714,0.779904,0.679100,0.404918,0.025399,0.202830,0.058859,...,False,True,False,False,False,False,True,False,False,False
19255,0.58400,0.4,0.082754,0.071429,0.431034,0.679780,0.406547,0.034259,0.231132,0.022451,...,False,True,False,False,False,False,False,False,False,True
19256,0.67168,0.8,0.035714,0.107143,0.224138,0.681313,0.405655,0.063201,0.132075,0.056432,...,False,True,False,False,False,False,False,False,False,True
19257,0.20096,0.2,0.000000,0.000000,0.779904,0.680861,0.406025,0.051388,0.198113,0.034790,...,False,True,False,False,False,True,False,False,False,False
19258,0.27280,0.2,0.000000,0.000000,0.344828,0.680071,0.406483,0.037803,0.254717,0.022047,...,False,True,False,False,False,True,False,False,False,True

In [7]:
data.describe()

,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,centreDistance,poiCount,schoolDistance,clinicDistance,postOfficeDistance,kindergartenDistance,restaurantDistance,collegeDistance,pharmacyDistance,price
count,153836.000000,153836.000000,153836.000000,153836.000000,153836.000000,153836.000000,153836.000000,153836.000000,153836.000000,153836.000000,153836.000000,153836.000000,153836.000000,153836.000000,153836.000000,153836.000000,1.538360e+05
mean,0.272854,0.338542,0.082754,0.152521,0.779904,0.444061,0.572606,0.255028,0.097669,0.083176,0.193794,0.103921,0.074412,0.069506,0.287922,0.072017,7.731120e+05
std,0.172612,0.184073,0.081370,0.116772,0.178751,0.290001,0.203989,0.168131,0.115216,0.094597,0.177894,0.101076,0.090838,0.094184,0.217871,0.092862,4.027751e+05
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.500000e+05
25%,0.155120,0.200000,0.035714,0.071429,0.689655,0.244458,0.464814,0.116361,0.033019,0.035194,0.070828,0.047897,0.031452,0.022673,0.117094,0.028652,5.100000e+05
50%,0.240000,0.400000,0.071429,0.107143,0.779904,0.478902,0.622133,0.232132,0.066038,0.058455,0.135454,0.079090,0.053024,0.046148,0.228383,0.048087,6.900000e+05
75%,0.352000,0.400000,0.107143,0.178571,0.931034,0.526935,0.746928,0.361488,0.113208,0.094256,0.246299,0.125176,0.083871,0.081862,0.404924,0.081146,9.190000e+05
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.250000e+06

# Prepare for fitting
### Remove

In [8]:
Q1 = data['price'].quantile(0.25)
Q3 = data['price'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
data = data[(data['price'] >= lower_bound)&(data['price'] <= upper_bound)]

### Split into X, Y sets

In [9]:
X = data.drop('price', axis=1)
Y = data['price']

### Split into training and test sets

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Training and evaluation 
### Evaluation function

In [11]:
def evaluate_model(true_data, predicted_data):
    mse = mean_squared_error(predicted_data, true_data)
    mae = mean_absolute_error(predicted_data, true_data)
    r2 = r2_score(predicted_data, true_data)

    print(f'MSE: {mse}')
    print(f'MAE: {mae}')
    print(f'R-squared: {r2}')

### Linear Regression

In [12]:
lm = LinearRegression(fit_intercept = True)
lm.fit(X_train, Y_train)
Y_pred = lm.predict(X_test)

evaluate_model(Y_test, Y_pred)

MSE: 19884414772.696964
MAE: 105340.16312810838
R-squared: 0.6815425540683839

### Random forest regressor

In [13]:
# rf_model = RandomForestRegressor(
#     n_estimators=500, 
#     max_depth=50, 
#     max_features='sqrt', 
#     random_state=42
# )

# rf_model.fit(X_train, Y_train)
# Y_pred = rf_model.predict(X_test)

# evaluate_model(Y_test, Y_pred)

### Gradient boosted regressor

In [14]:
# gb_model = GradientBoostingRegressor(n_estimators=500,max_depth=50)
# gb_model.fit(X_train, Y_train)
# Y_pred = gb_model.predict(X_test)

# evaluate_model(Y_test, Y_pred)

### Support vector regressor

In [15]:
# svr_model = SVR()
# svr_model.fit(X_train, Y_train)
# Y_pred = svr_model.predict(X_test)

# evaluate_model(Y_test, Y_pred)

MSE: 82661926761.969
MAE: 224198.08242385517
R-squared: -17972.799589107744