# List of project's dependencies
Below are listed imports that are needed for program to work properly commented with required install (see also requirements.txt)

In [85]:
#List of imports
import pandas as pd #pip install pandas
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# Loading data
To properly load data you need to download dataset from [link](https://www.kaggle.com/datasets/krzysztofjamroz/apartment-prices-in-poland/data)
and paste it to `./data` directory.

In [86]:
data= pd.read_csv(r".\data\apartments_pl_2023_08.csv")
data

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,pharmacyDistance,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price
0,f8524536d4b09a0c8ccc0197ec9d7bde,szczecin,blockOfFlats,63.00,3.0,4.0,10.0,1980.0,53.378933,14.625296,...,0.413,condominium,concreteSlab,NaN,yes,yes,yes,no,yes,415000
1,accbe77d4b360fea9735f138a50608dd,szczecin,blockOfFlats,36.00,2.0,8.0,10.0,NaN,53.442692,14.559690,...,0.205,cooperative,concreteSlab,NaN,no,yes,yes,no,yes,395995
2,8373aa373dbc3fe7ca3b7434166b8766,szczecin,tenement,73.02,3.0,2.0,3.0,NaN,53.452222,14.553333,...,0.280,condominium,brick,NaN,no,no,no,no,no,565000
3,0a68cd14c44ec5140143ece75d739535,szczecin,tenement,87.60,3.0,2.0,3.0,NaN,53.435100,14.532900,...,0.087,condominium,brick,NaN,yes,yes,no,no,yes,640000
4,f66320e153c2441edc0fe293b54c8aeb,szczecin,blockOfFlats,66.00,3.0,1.0,3.0,NaN,53.410278,14.503611,...,0.514,condominium,NaN,NaN,no,no,no,no,no,759000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18900,ae88d7ea0a7a5fa0e9d287cfd78e5676,bydgoszcz,blockOfFlats,84.00,3.0,NaN,4.0,2000.0,53.112927,17.975630,...,0.164,cooperative,brick,NaN,yes,yes,no,no,yes,789000
18901,6a4b30b5fcdee00bfe5bcc0da82df9b1,bydgoszcz,blockOfFlats,94.30,4.0,NaN,2.0,1998.0,53.115921,17.956396,...,0.428,condominium,NaN,NaN,no,yes,no,no,yes,699000
18902,1e7f4f1fdfea31eb84e071d697839632,bydgoszcz,NaN,50.12,2.0,1.0,1.0,NaN,53.126000,18.007900,...,0.205,condominium,brick,NaN,yes,no,no,no,no,360000
18903,d971c4ed3aab9919bf203e96019a678e,bydgoszcz,tenement,100.00,4.0,3.0,4.0,1910.0,53.126000,18.007900,...,0.205,condominium,brick,premium,yes,yes,no,no,yes,590000
18904,cd0241b70b79aaaf767a0dd3a7cfbb31,bydgoszcz,NaN,81.07,5.0,1.0,4.0,2019.0,53.115921,17.956396,...,0.428,condominium,NaN,NaN,no,yes,yes,no,no,699000

# Data statistics visualisation
Showing basic statistics of dataset.

In [87]:
data.describe()

,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,centreDistance,poiCount,schoolDistance,clinicDistance,postOfficeDistance,kindergartenDistance,restaurantDistance,collegeDistance,pharmacyDistance,price
count,18905.000000,18905.000000,15467.000000,18643.000000,15634.000000,18905.000000,18905.000000,18905.000000,18905.000000,18891.000000,18817.000000,18880.000000,18892.000000,18847.000000,18340.000000,18878.000000,1.890500e+04
mean,58.509976,2.676752,3.339820,5.279783,1984.551043,52.020411,19.516394,4.398444,20.099656,0.414897,1.002196,0.518748,0.371033,0.356646,1.460047,0.364134,6.925592e+05
std,21.060168,0.903619,2.549141,3.333666,33.767929,1.353998,1.769053,2.857387,23.513874,0.472782,0.913721,0.506783,0.452338,0.475884,1.102847,0.469334,3.443890e+05
min,25.000000,1.000000,1.000000,1.000000,1850.000000,49.979110,14.447127,0.020000,0.000000,0.004000,0.005000,0.001000,0.004000,0.001000,0.006000,0.003000,1.500000e+05
25%,44.200000,2.000000,2.000000,3.000000,1967.000000,51.109100,18.536220,2.070000,7.000000,0.175000,0.367000,0.237000,0.158000,0.118500,0.592000,0.145000,4.588000e+05
50%,54.400000,3.000000,3.000000,4.000000,1990.000000,52.193604,19.908944,4.010000,13.000000,0.288000,0.700000,0.387000,0.264000,0.235000,1.140000,0.239000,6.200000e+05
75%,68.200000,3.000000,4.000000,6.000000,2014.000000,52.412561,20.992010,6.180000,23.000000,0.466500,1.286000,0.621000,0.415000,0.417000,2.107000,0.405000,8.300000e+05
max,150.000000,6.000000,29.000000,29.000000,2023.000000,54.583210,23.207128,16.940000,208.000000,4.818000,4.996000,4.967000,4.960000,4.985000,4.998000,4.992000,2.500000e+06

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18905 entries, 0 to 18904
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    18905 non-null  object
 1   city                  18905 non-null  object
 2   type                  14866 non-null  object
 3   squareMeters          18905 non-null  float64
 4   rooms                 18905 non-null  float64
 5   floor                 15467 non-null  float64
 6   floorCount            18643 non-null  float64
 7   buildYear             15634 non-null  float64
 8   latitude              18905 non-null  float64
 9   longitude             18905 non-null  float64
 10  centreDistance        18905 non-null  float64
 11  poiCount              18905 non-null  float64
 12  schoolDistance        18891 non-null  float64
 13  clinicDistance        18817 non-null  float64
 14  postOfficeDistance    18880 non-null  float64
 15  kindergartenDistance  18892 non-null  float64
 16  restaurantDistance    18847 non-null  float64
 17  collegeDistance       18340 non-null  float64
 18  pharmacyDistance      18878 non-null  float64
 19  ownership             18905 non-null  object
 20  buildingMaterial      11518 non-null  object
 21  condition             4561 non-null   object
 22  hasParkingSpace       18905 non-null  object
 23  hasBalcony            18905 non-null  object
 24  hasElevator           17979 non-null  object
 25  hasSecurity           18905 non-null  object
 26  hasStorageRoom        18905 non-null  object
 27  price                 18905 non-null  int64
dtypes: float64(16), int64(1), object(11)
memory usage: 4.0+ MB

# Preparing data

In [89]:
data['type_numerical'] = pd.factorize(data['type'])[0]
data['condition_numerical'] = pd.factorize(data['condition'])[0]
data['city_numerical'] = pd.factorize(data['city'])[0]

data = data.drop('type', axis=1)
data = data.drop('condition', axis=1)
data = data.drop('city',axis=1)

data['hasElevator'].fillna('yes', inplace=True)

columns_to_change = ['hasParkingSpace', 'hasBalcony', 'hasSecurity','hasStorageRoom','hasElevator']
mapping = {'yes': 1, 'no': 0}
data[columns_to_change] = data[columns_to_change].applymap(lambda x: mapping.get(x, x))
data=data.drop('id', axis=1)

rare_columns = ['buildYear', 'buildingMaterial','condition_numerical',
                'schoolDistance', 'clinicDistance','kindergartenDistance','restaurantDistance','collegeDistance',
                'pharmacyDistance','postOfficeDistance','ownership']
data.drop(columns=rare_columns, inplace=True)

median_type = data['type_numerical'].median()
median_floor = data['floor'].median()
median_floorCount = data['floorCount'].median()

data['type_numerical'].fillna(median_type, inplace=True)
data['floor'].fillna(median_floor, inplace=True)
data['floorCount'].fillna(median_floorCount, inplace=True)

temp_column = data.pop('price')
data['price'] = temp_column

#removing outliers
Q1 = np.percentile(data['price'], 25)
Q3 = np.percentile(data['price'], 75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
data = data[(data['price'] >= lower_bound)&(data['price'] <= upper_bound)]

data.head()

C:\Users\djote\AppData\Local\Temp\ipykernel_8452\2911608295.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['hasElevator'].fillna('yes', inplace=True)
C:\Users\djote\AppData\Local\Temp\ipykernel_8452\2911608295.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data[columns_to_change] = data[columns_to_change].applymap(lambda x: mapping.get(x, x))
C:\Users\djote\AppData\Local\Temp\ipykernel_8452\2911608295.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['type_numerical'].fillna(median_type, inplace=True)
C:\Users\djote\AppData\Local\Temp\ipykernel_8452\2911608295.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['floor'].fillna(median_floor, inplace=True)
C:\Users\djote\AppData\Local\Temp\ipykernel_8452\2911608295.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['floorCount'].fillna(median_floorCount, inplace=True)

,squareMeters,rooms,floor,floorCount,latitude,longitude,centreDistance,poiCount,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,type_numerical,city_numerical,price
0,63.00,3.0,4.0,10.0,53.378933,14.625296,6.53,9.0,1,1,1,0,1,0,0,415000
1,36.00,2.0,8.0,10.0,53.442692,14.559690,2.15,16.0,0,1,1,0,1,0,0,395995
2,73.02,3.0,2.0,3.0,53.452222,14.553333,3.24,9.0,0,0,0,0,0,1,0,565000
3,87.60,3.0,2.0,3.0,53.435100,14.532900,2.27,32.0,1,1,0,0,1,1,0,640000
4,66.00,3.0,1.0,3.0,53.410278,14.503611,4.07,1.0,0,0,0,0,0,0,0,759000

In [90]:
data.describe()

,squareMeters,rooms,floor,floorCount,latitude,longitude,centreDistance,poiCount,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,type_numerical,city_numerical,price
count,17946.000000,17946.000000,17946.000000,17946.000000,17946.000000,17946.000000,17946.000000,17946.000000,17946.000000,17946.000000,17946.000000,17946.000000,17946.000000,17946.000000,17946.000000,1.794600e+04
mean,56.566692,2.619024,3.266076,5.247576,52.017131,19.456807,4.386439,19.460994,0.250919,0.572885,0.488243,0.098351,0.470021,0.214644,7.619079,6.391708e+05
std,19.085414,0.862786,2.256009,3.269428,1.369123,1.787039,2.831929,22.778069,0.433554,0.494673,0.499876,0.297796,0.499114,0.936585,4.646969,2.543942e+05
min,25.000000,1.000000,1.000000,1.000000,49.979110,14.447127,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,1.500000e+05
25%,43.500000,2.000000,2.000000,3.000000,51.104940,18.505806,2.090000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,4.490000e+05
50%,53.200000,3.000000,3.000000,4.000000,52.191006,19.884153,4.010000,13.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,7.000000,5.999990e+05
75%,65.557500,3.000000,4.000000,6.000000,52.447090,20.981637,6.160000,23.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,13.000000,7.900000e+05
max,150.000000,6.000000,24.000000,28.000000,54.583210,23.207128,16.940000,206.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,14.000000,1.386165e+06

# Split data into test and train datasets

In [91]:
X = data.drop('price', axis=1)
y = data['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Random forest regressor

In [92]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(n_estimators=100, max_depth=20, max_features='sqrt', random_state=42)
rf_model.fit(X_train, y_train)
y_pred = rf_model.predict(X_test)